routes:

    _container_debug:
        pattern: /_debug/container
        controller: controller._container_debug
        action: containerDebug
        methods:
          - GET

    _listeners_debug:
        pattern: /_debug/listeners
        controller: controller._listeners_debug
        action: listenersDebug
        methods:
          - GET

    _layers_debug:
        pattern: /_debug/layers
        controller: controller._layers_debug
        action: layersDebug
        methods:
          - GET

services:

    controller:
        _container_debug:
            class: \Veto\Debug\Controller\ContainerDebugController
            one_shot: true
        _listeners_debug:
            class: \Veto\Debug\Controller\ListenersDebugController
            one_shot: true
        _layers_debug:
            class: \Veto\Debug\Controller\LayersDebugController
            one_shot: true
        _exception_handler:
            class: \Veto\Debug\Controller\DebugExceptionController
            one_shot: true